.main-section {
    flex: 1; /* Allow it to grow */
    padding: 20px;
}
h2{
    margin-bottom: 100px;
}
.recipe-cards {
    display: flex;
  
    gap: 20px; /* Space between recipe cards */
}

.recipe-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.view-recipe-button {
    background-color: #00a8ff; /* Button color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.view-recipe-button:hover {
    background-color: #0097e6; /* Darker shade on hover */
}
